section.Apertura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.op {
    width: clamp(250px, 75vw, 1614px);
    height: calc(clamp(250px, 75vw, 1614px) * 0.10);
    margin: 0 auto;
    transform: scale(0);
    animation: crecer 7s ease-out 1s forwards,
    temblor 2s ease-in-out infinite 7s;
}


@keyframes crecer {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes temblor {
    0%   { transform: scale(1) translateY(0); }
    25%  { transform: scale(1) translateY(clamp(-5px, -1vw, -2px)); }
    50%  { transform: scale(1) translateY(clamp(2px, 1vw, 5px)); }
    75%  { transform: scale(1) translateY(clamp(-4px, -0.8vw, -1px)); }
    100% { transform: scale(1) translateY(0); }
}
